<div class="page-header">
    <h2>{{ editEmp.empBuf ? 'Изменить информацию' : 'Сотрудника с таким ID не существует' }}
        <small ng-show="editEmp.empBuf">сотрудник № {{editEmp.curID}}</small>
    </h2>
</div>
<form name="editForm" class="form-horizontal employee-details" ng-show="editEmp.empBuf">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="editLastName">Фамилия</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.lastName" name="lastName" id="editLastName"
                   ng-required="true">
                        <span class="label label-danger error-message"
                              ng-show="editForm.lastName.$invalid">Поле "Фамилия" не может быть пустым</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="editFirstName">Имя</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.firstName" name="firstName"
                   id="editFirstName" ng-required="true">
                <span class="label label-danger error-message"
                      ng-show="editForm.firstName.$invalid">Поле "Имя" не может быть пустым</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="editMidName">Отчество</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.middleName" name="midName"
                   id="editMidName" ng-required="true">
                <span class="label label-danger error-message"
                      ng-show="editForm.midName.$invalid">Поле "Отчество" не может быть пустым</span>
        </div>
    </div>
    <div class="bottom-buttons">
        <button type="button" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="editEmp.saveEmp()">
            Сохранить
        </button>
        <button type="button" class="btn btn-danger" ng-click="editEmp.delEmp()">Удалить</button>
    </div>
</form>
