<div class="page-header">
    <h2>Изменить информацию <small>сотрудник № {{editEmp.curId}}</small></h2>
</div>
<div class="form-horizontal employee-details">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="lastname">Фамилия</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.lastName" name="lastname" id="lastname">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="firstname">Имя</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.firstName" name="firstname" id="firstname">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="middlename">Отчество</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="editEmp.empBuf.middleName" name="middlename" id="middlename">
        </div>
    </div>
    <div class="bottom-buttons">
        <button type="button" class="btn btn-primary" ng-click="editEmp.saveEmp()">Сохранить</button>
        <button type="button" class="btn btn-danger" ng-click="editEmp.delEmp()">Удалить</button>
    </div>
</div>